name: "Build"

on:
  workflow_dispatch:
    inputs:
      webrtc_branch:
        description: "The branch of WebRTC to build from"
        required: true
        default: "main"

jobs:
  build:
    name: Build
    runs-on: macos-15
    steps:
      - name: Connect Bot
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}

      - name: Checkout release pipeline
        run: |
          git clone git@github.com:GetStream/stream-webrtc-release-pipeline.git fastlane

      - name: Checkout WebRTC branch
        env:
          WEBRTC_BRANCH: ${{ inputs.webrtc_branch }}
        run: |
          git clone --branch "${WEBRTC_BRANCH}" --single-branch git@github.com:GetStream/webrtc.git src

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Git authentication
        run: |
          echo "This step is required to bypass `git credential-luci login`"
          git config --global credential.helper store
          echo "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com" > ~/.git-credentials

      - name: "Build"
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}
        run: cd fastlane && bundle install && bundle exec fastlane ios build verbose:true maccatalyst_support:true
        timeout-minutes: 120

      - uses: actions/upload-artifact@v4
        with:
          name: StreamWebRTC.xcframework.zip
          path: .products/StreamWebRTC.xcframework.zip
          retention-days: 7

      - uses: actions/upload-artifact@v4
        with:
          name: WebRTC.xcframework.zip
          path: .products/WebRTC.xcframework.zip
          retention-days: 7
