name: "Build"

on:
  workflow_dispatch:
    inputs:
      webrtc_branch:
        description: "The branch of WebRTC to build from"
        required: true
        default: "main"

jobs:
  build:
    name: Build
    runs-on: macos-15
    steps:
      - name: Connect Bot
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}

      - name: Git authentication
        run: |
          echo "This step is required to bypass `git credential-luci login`"
          git config --global credential.helper store
          echo "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com" > ~/.git-credentials

      - name: Checkout release pipeline
        uses: actions/checkout@v5
        with:
          repository: GetStream/stream-webrtc-release-pipeline
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}
          ssh-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
          persist-credentials: false

      - name: Checkout WebRTC branch
        uses: actions/checkout@v5
        with:
          repository: GetStream/webrtc
          ref: ${{ inputs.webrtc_branch }}
          path: src
          token: ${{ secrets.GITHUB_TOKEN }}
          ssh-key: ${{ secrets.BOT_SSH_PRIVATE_KEY }}
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Ensure gclient is available
        run: |
          if ! command -v gclient &> /dev/null; then
            current_dir=$(pwd)
            mkdir -p "$HOME/webrtc"
            cd "$HOME/webrtc"
            git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
            export PATH="$PATH:$HOME/webrtc/depot_tools"
            cd "$current_dir"
          fi
          if [ -d "$HOME/webrtc/depot_tools" ]; then
            echo "$HOME/webrtc/depot_tools" >> "$GITHUB_PATH"
          fi

      - name: "Build"
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          APPSTORE_API_KEY: ${{ secrets.APPSTORE_API_KEY }}
        run: cd fastlane && bundle install && bundle exec fastlane ios build root:src verbose:true maccatalyst_support:true
        timeout-minutes: 120

      - uses: actions/upload-artifact@v4
        with:
          name: StreamWebRTC.xcframework.zip
          path: .products/StreamWebRTC.xcframework.zip
          retention-days: 7

      - uses: actions/upload-artifact@v4
        with:
          name: WebRTC.xcframework.zip
          path: .products/WebRTC.xcframework.zip
          retention-days: 7
